{% extends "main.html" %}
{% block content %}

    <div class="row">

    {% for wod in weekly_wods['performance'] %}

        <div class="col-lg-2">
            <h3>{{ wod[1] }}</h3>
            <h3>{{ wod[0] }}</h3>
            <br />
            <h4>Performance</h4>
            {{ wod[5] | safe }}
        </div>
        
    {% endfor %}
    </div>

    <div class="row">

    {% for wod in weekly_wods['fitness'] %}

        <div class="col-lg-2">
            <h4>Fitness</h4>
            {{ wod[5] | safe }}
        </div>
        
    {% endfor %}
    </div>



{% endblock %}