{% extends "main.html" %}
{% block content %}

    <div class="row">
        <div class="col-lg-12">
            <h3>{{ weekly_wods['performance'][0][1] }}, {{ weekly_wods['performance'][0][0] }}</h3>
        </div>
        <div class="col-lg-6">
            <br />
            <h4>Performance</h4>
            {{ weekly_wods['performance'][0][5] | safe }}
        </div>
        <div class="col-lg-6">
            <br />
            <h4>Fitness</h4>
            {{ weekly_wods['fitness'][0][5] | safe }}
        </div>
    </div>
    <div class="row">

        {{ data['today'] }}

{% endblock %}